/* Style for MooSweeper */

.moosweeper, .moosweeper * { margin: 0; padding: 0; }

.moosweeper { border-collapse: collapse; box-shadow: 0 0 5px #999; -moz-box-shadow: 0 0 5px #999; -webkit-box-shadow: 0 0 5px #999; }
.moosweeper caption { color: #4b647d; font-size: 32px; letter-spacing: -0.5px; margin: 21px 0 -7px; text-align: center; }

.moosweeper td { border: 1px solid #969696; }
.moosweeper td div { cursor: default; font-family: 'Georgia', serif; font-size: 24px; font-weight: bold; height: 36px; line-height: 36px; text-align: center; width: 36px; }
.moosweeper.running td:hover div { background: #fff; color: #eee; }

.moosweeper .covered { background: #eee; color: #fff; }
.moosweeper .discovered { background: #fff; }
.moosweeper .marked { background: #6496c8 !important; -moz-box-shadow: 0 0 10px #888; color: #fff !important; }

.moosweeper .mine { box-shadow: 0 0 5px #999; -moz-box-shadow: 0 0 5px #999; -webkit-box-shadow: 0 0 5px #999; color: #fff !important; }
.moosweeper.win .mine { background: #4b4b4b !important; }
.moosweeper.lose .mine { background: #800 !important; }
.moosweeper .mine.marked { background: #64c896 !important; }

.moosweeper .minescount0 { color: #f0f0f0 !important; }
.moosweeper .minescount1 { color: #4a708b !important; }
.moosweeper .minescount2 { color: #3cb371 !important; }
.moosweeper .minescount3 { color: #ffd700 !important; }
.moosweeper .minescount4 { color: #ee7600 !important; }
.moosweeper .minescount5, .minescount6, .minescount7, .minescount8 { color: #8b2500; }

/* game options */
.moosweeper .gameoptions th { background: #1461AC; color: #eee; font-weight: normal; line-height: 30px; padding: 0 10px; }
.moosweeper .gameoptions .third { float: left; width: 33.33%; }
.moosweeper .gameoptions .third.first { text-align: left; }
.moosweeper .gameoptions .third.second { text-align: center; }
.moosweeper .gameoptions .third.last { text-align: right; }

/* buttons (smiley, newGame) */
.moosweeper .gameoption a { color: #fff; background-color: #578EC4; }
.moosweeper .gameoption a:hover { background-color: #76A3CF; }
.moosweeper .gameoption a:active { background-color: #BCD2E7; }

/* smiley */
.moosweeper .gameoption.smiley { display: inline-block; }
.moosweeper .gameoption.smiley a { background-image: url(smileys.png) /* icons from silk */; background-repeat: no-repeat; color: transparent; display: inline-block; font-size: 1px; height: 22px; vertical-align: baseline; width: 22px; }
.moosweeper .gameoption.smiley .running { background-position: 3px -23px; }
.moosweeper .gameoption.smiley .unsure { background-position: 3px -49px; }
.moosweeper .gameoption.smiley .lose { background-position: 3px -75px; }
.moosweeper .gameoption.smiley .win { background-position: 3px 3px; }

/* newGame */
.moosweeper .gameoption.newGame a { line-height: 22px; padding: 3px; }